node_modules
dist
.env
.env.*
!.env.example
.user.ini

.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.vscode
.idea

android/.gradle
android/.idea
android/build
android/app/build
android/app/src/main/assets/public
